<a href="https://colab.research.google.com/github/damerei/DS-Unit-1-Sprint-4-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_4_ipynb_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 4

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [17]:
# TODO
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns


crx = pd.read_csv('crx.data',  header=None,
                 names=['A1', 'A2', 'A3', 'A4', 'A5',
                        'A6', 'A7', 'A8', 'A9', 'A10', 
                       'A11', 'A12', 'A13', 'A14', 'A15',
                       'A16'])


crx.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [24]:
crx.isnull().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [19]:
crx.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [0]:
crx['A2'] = crx['A2'].astype('float64')
crx['A8'] = crx['A8'].astype('float64')
crx['A11'] = crx['A11'].astype('float64')
crx['A14'] = crx['A14'].astype('float64')
crx['A15'] = crx['A15'].astype('float64')

In [47]:
crx = crx.replace({'?':np.NaN})

crx.fillna(method='backfill')

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,b,30.83,0.000,u,g,w,v,1.250,t,t,1.0,f,g,202.0,0.0,+
1,a,58.67,4.460,u,g,q,h,3.040,t,t,6.0,f,g,43.0,560.0,+
2,a,24.50,0.500,u,g,q,h,1.500,t,f,0.0,f,g,280.0,824.0,+
3,b,27.83,1.540,u,g,w,v,3.750,t,t,5.0,t,g,100.0,3.0,+
4,b,20.17,5.625,u,g,w,v,1.710,t,f,0.0,f,s,120.0,0.0,+
5,b,32.08,4.000,u,g,m,v,2.500,t,f,0.0,t,g,360.0,0.0,+
6,b,33.17,1.040,u,g,r,h,6.500,t,f,0.0,t,g,164.0,31285.0,+
7,a,22.92,11.585,u,g,cc,v,0.040,t,f,0.0,f,g,80.0,1349.0,+
8,b,54.42,0.500,y,p,k,h,3.960,t,f,0.0,f,g,180.0,314.0,+
9,b,42.50,4.915,y,p,w,v,3.165,t,f,0.0,t,g,52.0,1442.0,+
10,b,22.08,0.830,u,g,c,h,2.165,f,f,0.0,t,g,128.0,0.0,+
11,b,29.92,1.835,u,g,c,h,4.335,t,f,0.0,f,g,260.0,200.0,+
12,a,38.25,6.000,u,g,k,v,1.000,t,f,0.0,t,g,0.0,0.0,+
13,b,48.08,6.040,u,g,k,v,0.040,f,f,0.0,f,g,0.0,2690.0,+
14,a,45.83,10.500,u,g,q,v,5.000,t,t,7.0,t,g,0.0,0.0,+
15,b,36.67,4.415,y,p,k,v,0.250,t,t,10.0,t,g,320.0,0.0,+
16,b,28.25,0.875,u,g,m,v,0.960,t,t,3.0,t,g,396.0,0.0,+
17,a,23.25,5.875,u,g,q,v,3.170,t,t,10.0,f,g,120.0,245.0,+
18,b,21.83,0.250,u,g,d,h,0.665,t,f,0.0,t,g,0.0,0.0,+
19,a,19.17,8.585,u,g,cc,h,0.750,t,t,7.0,f,g,96.0,0.0,+
20,b,25.00,11.250,u,g,c,v,2.500,t,t,17.0,f,g,200.0,1208.0,+
21,b,23.25,1.000,u,g,c,v,0.835,t,f,0.0,f,s,300.0,0.0,+
22,a,47.75,8.000,u,g,c,v,7.875,t,t,6.0,t,g,0.0,1260.0,+
23,a,27.42,14.500,u,g,x,h,3.085,t,t,1.0,f,g,120.0,11.0,+
24,a,41.17,6.500,u,g,q,v,0.500,t,t,3.0,t,g,145.0,0.0,+
25,a,15.83,0.585,u,g,c,h,1.500,t,t,2.0,f,g,100.0,0.0,+
26,a,47.00,13.000,u,g,i,bb,5.165,t,t,9.0,t,g,0.0,0.0,+
27,b,56.58,18.500,u,g,d,bb,15.000,t,t,17.0,t,g,0.0,0.0,+
28,b,57.42,8.500,u,g,e,h,7.000,t,t,3.0,f,g,0.0,0.0,+
29,b,42.08,1.040,u,g,w,v,5.000,t,t,6.0,t,g,500.0,10000.0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,b,22.25,9.000,u,g,aa,v,0.085,f,f,0.0,f,g,0.0,0.0,-
661,b,29.83,3.500,u,g,c,v,0.165,f,f,0.0,f,g,216.0,0.0,-
662,a,23.50,1.500,u,g,w,v,0.875,f,f,0.0,t,g,160.0,0.0,-
663,b,32.08,4.000,y,p,cc,v,1.500,f,f,0.0,t,g,120.0,0.0,-
664,b,31.08,1.500,y,p,w,v,0.040,f,f,0.0,f,s,160.0,0.0,-
665,b,31.83,0.040,y,p,m,v,0.040,f,f,0.0,f,g,0.0,0.0,-
666,a,21.75,11.750,u,g,c,v,0.250,f,f,0.0,t,g,180.0,0.0,-
667,a,17.92,0.540,u,g,c,v,1.750,f,t,1.0,t,g,80.0,5.0,-
668,b,30.33,0.500,u,g,d,h,0.085,f,f,0.0,t,s,252.0,0.0,-
669,b,51.83,2.040,y,p,ff,ff,1.500,f,f,0.0,f,g,120.0,1.0,-
670,b,47.17,5.835,u,g,w,v,5.500,f,f,0.0,f,g,465.0,150.0,-
671,b,25.83,12.835,u,g,cc,v,0.500,f,f,0.0,f,g,0.0,2.0,-
672,a,50.25,0.835,u,g,aa,v,0.500,f,f,0.0,t,g,240.0,117.0,-
673,a,29.50,2.000,y,p,e,h,2.000,f,f,0.0,f,g,256.0,17.0,-
674,a,37.33,2.500,u,g,i,h,0.210,f,f,0.0,f,g,260.0,246.0,-
675,a,41.58,1.040,u,g,aa,v,0.665,f,f,0.0,f,g,240.0,237.0,-
676,a,30.58,10.665,u,g,q,h,0.085,f,t,12.0,t,g,129.0,3.0,-
677,b,19.42,7.250,u,g,m,v,0.040,f,t,1.0,f,g,100.0,1.0,-
678,a,17.92,10.210,u,g,ff,ff,0.000,f,f,0.0,f,g,0.0,50.0,-
679,a,20.08,1.250,u,g,c,v,0.000,f,f,0.0,f,g,0.0,0.0,-
680,b,19.50,0.290,u,g,k,v,0.290,f,f,0.0,f,g,280.0,364.0,-
681,b,27.83,1.000,y,p,d,h,3.000,f,f,0.0,f,g,176.0,537.0,-
682,b,17.08,3.290,u,g,i,v,0.335,f,f,0.0,t,g,140.0,2.0,-
683,b,36.42,0.750,y,p,d,v,0.585,f,f,0.0,f,g,240.0,3.0,-
684,b,40.58,3.290,u,g,m,v,3.500,f,f,0.0,t,s,400.0,0.0,-
685,b,21.08,10.085,y,p,e,h,1.250,f,f,0.0,f,g,260.0,0.0,-
686,a,22.67,0.750,u,g,c,v,2.000,f,t,2.0,t,g,200.0,394.0,-
687,a,25.25,13.500,y,p,ff,ff,2.000,f,t,1.0,t,g,200.0,1.0,-
688,b,17.92,0.205,u,g,aa,v,0.040,f,f,0.0,f,g,280.0,750.0,-
689,b,35.00,3.375,u,g,c,h,8.290,f,f,0.0,t,g,0.0,0.0,-

In [53]:
crx.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15    float64
A16     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [48]:
# TODO

plus = crx[crx['A16'] == '+']

plus.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14    A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t  1.0   f   g  202.0    0.0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t  6.0   f   g   43.0  560.0   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f  0.0   f   g  280.0  824.0   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t  5.0   t   g  100.0    3.0   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f  0.0   f   s  120.0    0.0   +

In [49]:
neg = crx[crx['A16'] == '-']

neg.head()

   A1     A2   A3 A4 A5  A6  A7      A8 A9 A10  A11 A12 A13    A14  A15 A16
70  b  32.33  7.5  u  g   e  bb   1.585  t   f  0.0   t   s  420.0  0.0   -
71  b  34.83  4.0  u  g   d  bb  12.500  t   f  0.0   t   g    NaN  0.0   -
72  a  38.58  5.0  u  g  cc   v  13.500  t   f  0.0   t   g  980.0  0.0   -
73  b  44.25  0.5  u  g   m   v  10.750  t   f  0.0   f   s  400.0  0.0   -
74  b  44.83  7.0  y  p   c   v   1.625  f   f  0.0   f   g  160.0  2.0   -

In [50]:
plus_con = plus.select_dtypes(include='float64')

print(plus_con.head())

plus_con.describe()

      A2     A3    A8  A11    A14    A15
0  30.83  0.000  1.25  1.0  202.0    0.0
1  58.67  4.460  3.04  6.0   43.0  560.0
2  24.50  0.500  1.50  0.0  280.0  824.0
3  27.83  1.540  3.75  5.0  100.0    3.0
4  20.17  5.625  1.71  0.0  120.0    0.0

,A2,A3,A8,A11,A14,A15
count,305.000000,307.000000,307.000000,307.000000,301.000000,307.000000
mean,33.720492,5.904951,3.427899,4.605863,164.421927,2038.859935
std,12.809641,5.471485,4.120792,6.320242,161.770675,7659.763941
min,13.750000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.170000,1.500000,0.750000,0.000000,0.000000,0.000000
50%,30.500000,4.460000,2.000000,3.000000,120.000000,221.000000
75%,41.330000,9.520000,5.000000,7.000000,280.000000,1209.000000
max,76.750000,28.000000,28.500000,67.000000,840.000000,100000.000000

In [51]:
neg_con = neg.select_dtypes(include='float64')

print(neg_con.head())

neg_con.describe()

       A2   A3      A8  A11    A14  A15
70  32.33  7.5   1.585  0.0  420.0  0.0
71  34.83  4.0  12.500  0.0    NaN  0.0
72  38.58  5.0  13.500  0.0  980.0  0.0
73  44.25  0.5  10.750  0.0  400.0  0.0
74  44.83  7.0   1.625  0.0  160.0  2.0

,A2,A3,A8,A11,A14,A15
count,373.000000,383.000000,383.000000,383.000000,376.000000,383.000000
mean,29.808231,3.839948,1.257924,0.631854,199.699468,198.605744
std,10.919291,4.337662,2.120481,1.900049,181.564835,671.608839
min,15.170000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,0.835000,0.125000,0.000000,100.000000,0.000000
50%,27.330000,2.210000,0.415000,0.000000,167.500000,1.000000
75%,34.830000,5.000000,1.500000,0.000000,272.000000,67.000000
max,80.250000,26.335000,13.875000,20.000000,2000.000000,5552.000000

In [54]:
import scipy

print(scipy.stats.ttest_ind(plus_con['A11'], neg_con['A11'], equal_var=True))

print(scipy.stats.ttest_ind(plus_con['A14'], neg_con['A14'], equal_var=True, nan_policy='omit'))

Ttest_indResult(statistic=11.667004222431277, pvalue=7.957718568079967e-29)
Ttest_indResult(statistic=-2.6358251986645476, pvalue=0.008586135473979569)

In [73]:
print(scipy.stats.ttest_ind(plus_con['A11'], neg_con['A11'], equal_var=False))

print(scipy.stats.ttest_ind(plus_con['A14'], neg_con['A14'], equal_var=False, nan_policy='omit'))

Ttest_indResult(statistic=10.6384190682749, pvalue=4.310254123415665e-23)
Ttest_indResult(statistic=-2.6696493137915973, pvalue=0.0077778250827957)

A11 has a large t statistic with a vanishingly small p value, suggesting the difference is strongly statistically significant. 

Column A14 also has a statistically significant difference, but the mean for the negative sample is larger.

In [58]:
crx_cat = crx.select_dtypes(include='object')

crx_cat.head()

  A1 A4 A5 A6 A7 A9 A10 A12 A13 A16
0  b  u  g  w  v  t   t   f   g   +
1  a  u  g  q  h  t   t   f   g   +
2  a  u  g  q  h  t   f   f   g   +
3  b  u  g  w  v  t   t   t   g   +
4  b  u  g  w  v  t   f   f   s   +

In [67]:
ct1 = pd.crosstab(crx['A7'], crx['A16'])

ct1

A16    +    -
A7
bb    25   34
dd     2    4
ff     8   49
h     87   51
j      3    5
n      2    2
o      1    1
v    169  230
z      6    2

In [68]:
ct2 = pd.crosstab(crx['A13'], crx['A16'])

ct2

A16    +    -
A13
g    287  338
p      5    3
s     15   42

In [0]:
ct3 = pd.crosstab(crx['A16'], crx['A13'])

ct4 = pd.crosstab(crx['A16'], crx['A7'])

chi_squared3, p_value3, dof3, expected3 = stats.chi2_contingency(ct3)

chi_squared4, p_value4, dof4, expected4 = stats.chi2_contingency(ct4)

In [78]:
print(f"Chi-Squared: {chi_squared3}")
print(f"P-value: {p_value3}")
print(f"Degrees of Freedom: {dof3}") 
print("Expected: \n", np.array(expected3))

Chi-Squared: 9.191570451545383
P-value: 0.010094291370456362
Degrees of Freedom: 2
Expected:
 [[278.07971014   3.55942029  25.36086957]
 [346.92028986   4.44057971  31.63913043]]

In [79]:
print(f"Chi-Squared: {chi_squared4}")
print(f"P-value: {p_value4}")
print(f"Degrees of Freedom: {dof4}") 
print("Expected: \n", np.array(expected4))

Chi-Squared: 45.034207140240554
P-value: 3.625452872372267e-07
Degrees of Freedom: 8
Expected:
 [[ 26.25110132   2.66960352  25.36123348  61.40088106   3.55947137
    1.77973568   0.88986784 177.52863436   3.55947137]
 [ 32.74889868   3.33039648  31.63876652  76.59911894   4.44052863
    2.22026432   1.11013216 221.47136564   4.44052863]]

In [70]:
chi_squared1, p_value1, dof1, expected1 = stats.chi2_contingency(ct1)

print(f"Chi-Squared: {chi_squared1}")
print(f"P-value: {p_value1}")
print(f"Degrees of Freedom: {dof1}") 
print("Expected: \n", np.array(expected1))

Chi-Squared: 45.03420714024056
P-value: 3.62545287237226e-07
Degrees of Freedom: 8
Expected:
 [[ 26.25110132  32.74889868]
 [  2.66960352   3.33039648]
 [ 25.36123348  31.63876652]
 [ 61.40088106  76.59911894]
 [  3.55947137   4.44052863]
 [  1.77973568   2.22026432]
 [  0.88986784   1.11013216]
 [177.52863436 221.47136564]
 [  3.55947137   4.44052863]]

In [72]:
chi_squared2, p_value2, dof2, expected2 = stats.chi2_contingency(ct2)

print(f"Chi-Squared: {chi_squared2}")
print(f"P-value: {p_value2}")
print(f"Degrees of Freedom: {dof2}") 
print("Expected: \n", np.array(expected2))

Chi-Squared: 9.191570451545383
P-value: 0.010094291370456362
Degrees of Freedom: 2
Expected:
 [[278.07971014 346.92028986]
 [  3.55942029   4.44057971]
 [ 25.36086957  31.63913043]]

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

## **The T-Tests**

For both Columns A11 and A14, I ran independent two-sample T tests, with the implicit null hypothesis being that the means of the sample arrays/columns should be equal between the positive and negative subsets. 
I also made the possibly mistaken assumption that the variances were equal between the positive and negative samples. 
However, I also ran Welch's t-test (which corrects for the assumption of equal variance) on both hypotheses, and the resultant test statistics and p-values were quite similar. 

With regards to the t-tests, Column A11 has a large t statistic (~10 to 11) with a vanishingly small p value (on the order of 10^-30), suggesting the difference is strongly statistically significant, and that the positive subset has a considerably greater average 
value for this metric.

Column A14 also has a statistically significant difference (p=.008) though the mean for the negative subset is larger in this case (t-stat is around -2). The t-test statistic is smaller in this case, suggesting the means are closer as well. 
Applying Welch's t test reduced the p-value, suggesting that the relationship truly is statistically significant, since the p-value decreases as one removes possibly extraneous assumptions (such as that the sample variances are equal)

### **The Chi-Squared Tests**

I ran chi-squared tests on Columns A7 and A13. The null hypothesis in the case of the modal chi squared test is that the two categories are independent of each other. In the first test, I test whether Column A7 is indendent of Column A16 (the positive and negative split). In the second test, I examine whether column A13 is independent of Column A16 (the positive and negative split) 

Rughly speaking one generates the test statistic by summing the  differences between the expected value (under the null hypothesis) and the observed values for each of the categories under consideration. 

Performing the test on Column A7 produced a large chi-squared statistic (roughly 45) with a vanishingly small p-value (around 3 times 10^-7). This suggests a strongly statistically
significant relationship. 

By comparison,  performing the test on column A13 produced a large test statistic (around 9), but the p-value of .01 was borderline.

### **Most challenging**

The most challenging part of this sprint challenge was trying to be sure I did the crosstabs correctly. However, I knew that the chi squared test statistic 
is a linear operator: therefore it is invariant to the shape of the matrix, so the values would be correct independent of construction.

*Your words here!*